target/
logs/*
dbt_churn/logs
dev.duckdb
data/*.db
data/churn_data.duckdb
data/churn_data.duckdb.wal
.env
.venv/
venv/
**/__pycache__/
.DS_Store
*.pyc
target_dev/
target_airflow/
dbt_churn/profiles.yml
dbt_churn/.user.yml
.dlt